@import "tailwindcss";

:root {
  --background: 10 10 10; /* Almost Black */
  --foreground: 255 255 255;
  --primary: 59 130 246; /* Blue 500 */
}

body {
  color: rgb(var(--foreground));
  background: #0a0a0a; /* Hardcoded Dark Background */
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}